{{#if index_featured }}
<article class="{{ post_class }} post-index-featured">
    <a href="{{ url }}">
        <div class="post-item">
            {{#if feature_image }}{{#if index_featured }}
            <div class="post-featured-image">
                <img src="{{img_url feature_image size="xl"}}"
                    srcset="{{img_url feature_image size="s"}} 320w,
                    {{img_url feature_image size="m"}} 640w,
                    {{img_url feature_image size="l"}} 960w,
                    {{img_url feature_image size="xl"}} 1920w"  
                    alt="{{title}}" />
            </div>
            {{/if}}{{/if}}
            <div class="post-item-details">
                {{^is "tag" }}{{#primary_tag}}
                    <span class="post-tag is-uppercase is-size-7">{{ name }}</span>
                {{/primary_tag}}{{/is}}
                <div class="post-item-title-date is-flex">
                    <h2 class="has-text-weight-bold">{{ title }}</h2>
                    <time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMMM YYYY"}}</time>
                </div>
            </div>
        </div>
    </a>
</article>
{{else}}
<article class="column is-three-quarters-desktop {{ post_class }}">
    {{^is "tag" }}{{#primary_tag}}
        <a href="{{ url }}" title="{{ name }}" class="post-tag is-uppercase is-size-7">{{ name }}</a>
    {{/primary_tag}}{{/is}}
    <a href="{{ url }}">
        <h2 class="post-title is-size-3 has-text-weight-bold">{{ title }}</h2>
    </a>
    <p>{{ excerpt }}</p>
</article>
{{/if}}
