<!DOCTYPE html>
<html lang="{{ @site.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta_title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset "build/css/fontawesome.min.css" }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset "build/css/style.min.css" }}" />

    {{ ghost_head }}
</head>
<body class="{{body_class}}">
    {{{ body }}}

    <footer class="container columns">
        <div class="column left">
            &copy; {{date format="YYYY" }} Raffy Alcoriza
        </div>
        <div class="column hash">
            #
        </div>
        <div class="column right">
            <p>Build a smarter and more inclusive world.</p>
        </div>
    </footer>

    <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="{{ asset "build/js/octothorpe.min.js" }}"></script>

    {{{ block "scripts" }}}

    {{ ghost_foot }}
</body>
</html>